<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Web Medical Viewer</title>
    <script src = "javascripts/function.js"></script>
    <script>
    function signInFunc(){
            document.getElementById("demo").innerHTML=Date();
        }
    </script>
</head>
<body>
    <a id="head"></a>
    <img src="images/header.png" alt="medical picture">
    <h1>WEB MEDICAL VIEWER</h1>
    <p id="demo">time</p>
    <a href="https://www.baidu.com/">This is web medical viewer from BAIDU wangrui22</a>
    <br>
    <div>    
    </div>
    <br>
    <form name="form_login" onsubmit="onSignIn()">
        Web review sign in<br>
        <input type="radio" name="role" value="doctor" checked="true" onchange="onRoleChanged()">Doctor<br>
        <input type="radio" name="role" value="patient" checked="false" onchange="onRoleChanged()">Patient<br>
        Usename or email address:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Sign in" onclick="signInFunc()"><br>
    </form>
    
    <br>
    <br>
    <a href="#head">Jump to head</a>
    <br>
    <br>
    <p id="test"></p><br>
    <button onclick="test()">test</button>


</body>


</html>
